## Some example mock APIs

Looking for some high level feedback on these data mocks

In [50]:
from mlfaker.generators import NormalGenerator, CategoricalGenerator, BaseGenerator
import pandas as pd

In [36]:
def build_df(generators, size):
    return pd.DataFrame([g.generate(size) for g in generators]).T

In [73]:
build_df(
    [
        NormalGenerator("foo"),
        CategoricalGenerator("bar", fillrate=0.5), 
        CategoricalGenerator("fizz", classes=["a", "b", "c"], fillrate=0.5)
    ],
    7
)

        foo  ... fizz
0  1.624345  ...  NaN
1 -0.611756  ...    a
2 -0.528172  ...  NaN
3 -1.072969  ...  NaN
4  0.865408  ...    b
5 -2.301539  ...    a
6  1.744812  ...  NaN

[7 rows x 3 columns]

In [38]:
class DataFramer():
    def __init__(self, generators):
        self.generators = generators
        
    def generate(self, size):
        return pd.DataFrame([g.generate(size) for g in self.generators]).T

In [46]:
dataframer = DataFramer(
    [
        NormalGenerator("mike"),
        CategoricalGenerator("jeff", fillrate=0.5, seed=10),
        NormalGenerator("tom", fillrate=0.9, loc=3),
        CategoricalGenerator("target", classes=[0, 1], fillrate=0.5)
    ]
)

In [72]:
dataframer.generate(6)

       mike  ...  target
0  0.900856  ...     0.0
1 -0.683728  ...     1.0
2 -0.122890  ...     0.0
3 -0.935769  ...     NaN
4 -0.267888  ...     NaN
5  0.530355  ...     NaN

[6 rows x 4 columns]

In [70]:
def build_df_from_cols(cols_types , size=10):
    lookup = {"normal": NormalGenerator, "categorical": CategoricalGenerator}
    return pd.DataFrame([lookup[v](k).generate(size) for k, v in cols_types.items()]).T

In [71]:
build_df_from_cols({"foo": "normal", "bar": "categorical"}, size=5)

        foo  bar
0  1.624345  1.0
1 -0.611756  1.0
2 -0.528172  0.0
3 -1.072969  0.0
4  0.865408  1.0

In [89]:
def build_df_from_num_cat(nums, cats, size=10):
    gens = []
    counter = 0
    for col_type, gen in zip([nums, cats], [NormalGenerator, CategoricalGenerator]):
        if isinstance(col_type, int):
            gen_holder = [gen(f"col{counter+i}") for i in range(col_type)]
        else:
            gen_holder = [gen(col) for col in col_type]
        counter += len(gen_holder)
        gens.extend(gen_holder)
    
    return pd.DataFrame([gen.generate(size) for gen in gens]).T

In [90]:
build_df_from_num_cat(nums=2, cats=2, size=5)

       col0  ...  col3
0  1.624345  ...   1.0
1 -0.611756  ...   1.0
2 -0.528172  ...   0.0
3 -1.072969  ...   0.0
4  0.865408  ...   1.0

[5 rows x 4 columns]

In [91]:
build_df_from_num_cat(nums=["foo"], cats=2, size=3)

        foo  ...  col2
0  1.624345  ...   1.0
1 -0.611756  ...   1.0
2 -0.528172  ...   0.0

[3 rows x 3 columns]